@import "style";

.opportunity {
    width: 100%;
    min-width: 1024px;
    height: 200px;
    @include flex(column ,center ,center);
}

.opportunity_in {
    width: 650px;
    padding-top: 30px;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-ideograph;
}

.opportunity img {
    width: 1024px;
}

.opportunity_in span {
    font-size: 16px;
    line-height: 26px;
}

.mode {
    height: 300px;
    margin-top: 40px;
    @include flex(column ,center ,flex-start);
}

.history {
    width: 100%;
    min-width: 1024px;
    @include flex(column ,center ,center);
}

.history img:first-child {
    width: 1024px;
}

/*-------------介於 480px 與 960px 之間------------------*/

@media screen and (min-width: 480px) and (max-width: 960px) {
    .opportunity {
        min-width: 600px;
        height: 120px;
    }

    .opportunity_in {
        width: 540px;
        margin-top: 20px;
    }

    .opportunity img {
        width: 100%;
    }

    .mode img {
        width: 580px;
    }

    .history {
        min-width: 600px;
    }

    .history img {
        width: 560px;
    }

    .history img:first-child {
        width: 100%;
    }
}

/*-------------未滿 480px，即 479px 以下------------------*/

@media screen and (max-width: 479px) {
    .content {
        margin-top: 60px;
    }

    .opportunity {
        min-width: 350px;
        height: 80px;
    }

    .opportunity img {
        width: 430px;
    }
    
    .opportunity_in {
        width: 320px;
    }
    
    .opportunity_in span {
        font-size: 16px;
        line-height: 26px;
    }
    
    .mode {
        height: 160px;
        margin-top: 20px;
    }

    .mode img {
        width: 300px;
    }
    
    .history {
        min-width: 350px;
    }

    .history img {
        width: 340px;
    }

    .history img:first-child {
        width: 400px;
    }
}