@import "style";

.experience {
    width: 960px;
    @include flex(column ,center ,flex-start);
}

.experience_in {
    display: none;
    padding-top: 30px;
    width: 960px;
    height: 1100px;
    flex-wrap: wrap;
    @include flex(row ,space-between ,center);
}

.experience_about {
    height: 1020px;
    flex-wrap: wrap;
    @include flex(row ,space-between ,space-between);
}

.experience_page {
    width: 80px;
    height: 50px;
}

.experience_page:hover >a {
    font-weight: bold;
    color: #1c7db2;
    cursor: pointer;
}

.experience_box {
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
}

.experience_content {
    width: 300px;
    height: 300px;
    padding: 20px 0;
    margin-top: 240px;
    cursor: pointer;
    background-color: #00000080;
    @include flex(column ,center ,space-between);
}

.experience_1 {
    background: url(../img/ex1.jpg);
}

.experience_2 {
    background: url(../img/ex2.jpg);
}

.experience_3 {
    background: url(../img/ex3.jpg);
}

.experience_4 {
    background: url(../img/ex4.jpg);
}

.experience_5 {
    background: url(../img/ex5.jpg);
}

.experience_6 {
    background: url(../img/ex6.jpg);
}

.experience_7 {
    background: url(../img/ex7.jpg);
}

.experience_8 {
    background: url(../img/ex8.jpg);
}

.experience_9 {
    background: url(../img/ex9.jpg);
}

.experience_10 {
    background: url(../img/ex10.jpg);
}

.experience_11 {
    background: url(../img/ex11.jpg);
}

.experience_12 {
    background: url(../img/ex12.jpg);
}

.experience_13 {
    background: url(../img/ex13.jpg);
}

.experience_14 {
    background: url(../img/ex14.jpg);
}

.experience_15 {
    background: url(../img/ex15.jpg);
}

.experience_16 {
    background: url(../img/ex16.jpg);
}

.experience_17 {
    background: url(../img/ex17.jpg);
}

.experience_18 {
    background: url(../img/ex18.jpg);
}

.ex7 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex7-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex10 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex10-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex11 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex11-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex12 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex12-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex14 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex14-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex15 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex15-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex16 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex16-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.ex18 {
    width: 100%;
    height: 100%;
    border: 0;
    background: url(../img/ex18-1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.experience_box:hover >.experience_content {
    animation: up 0.5s ease;
    transform: translateY(-240px);
}

@keyframes up {
    0% {transform: translateY(0px)}
    100% {transform: translateY(-240px)}
}

.experience_content h3, .experience_content span {
    color: white;
}

.experience_content span {
    text-decoration: underline;
}

.experience_bg_lock{
    width: 100%;
    min-width: 1024px;
	height: 100%;
	margin: 0px 0px 0px 0px;
	background-color:rgba(0,0,0,0.70);
	position: fixed;
	transition: 0.5s;
    z-index: 2;
    @include flex(column ,center ,center);
}

.experience_bg_content {
	width: 800px;
    height: 500px;
	background-color: rgba(255,255,255,1.00);
	transition: 0.5s;
    border-radius: 20px;
    @include flex(column ,center ,space-around);
}

.experience_youtube {
    width: 650px;
    height: 380px;
}

.experience_bg_unlock, .experience_bg_content_unlock, .experience_youtube_unlock {
    display: none;
}

.experience_top {
    height: 400px;
    @include flex(column ,center ,space-around);
}

.experience_movie {
    height: 450px;
    @include flex(column ,center ,space-around);
}

.experience_title {
    @include flex(column ,center ,flex-start);
}

.experience_title a {
    font-size: 20px;
    font-weight: bold;
}

/*-------------介於 480px 與 960px 之間------------------*/

@media screen and (min-width: 480px) and (max-width: 960px) {
    .experience {
        width: 600px;
        @include flex(column ,center ,flex-start);
    }
    
    .experience_in {
        width: 580px;
        height: 1650px;
        flex-wrap: wrap;
        @include flex(row ,space-between ,space-around);
    }

    .experience_about {
        height: 1550px;
    }

    .experience_box {
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
    }

    .experience_content {
        width: 280px;
        height: 280px;
        margin-top: 220px;
    }

    .experience_bg_lock{
        min-width: 600px;
    }

    .experience_bg_content {
        width: 520px;
        height: 340px;
        margin-top: 80px;
    }

    .experience_movie {
        height: 300px;
    }

    .experience_youtube {
        width: 400px;
        height: 240px;
    }

    .experience_youtube img {
        width: 400px;
    }
    
    .experience_title a {
        font-size: 16px;
    }

}

/*-------------未滿 480px，即 479px 以下------------------*/

@media screen and (max-width: 479px) { 
    .experience {
        width: 350px;
        @include flex(column ,center ,flex-start);
    }
    
    .experience_in {
        width: 350px;
        height: 3080px;
        flex-wrap: wrap;
        @include flex(row ,space-between ,space-around);
    }

    .experience_about {
        height: 3000px;
        flex-wrap: wrap;
        @include flex(row ,space-between ,space-around);
    }
    
    .experience_box {
        margin-bottom: 20px;
    }

    .experience_bg_lock{
        min-width: 350px;
    }
    
    .experience_bg_content {
        width: 320px;
        height: 300px;
    }

    .experience_movie {
        height: 280px;
    }

    .experience_youtube {
        width: 300px;
        height: 200px;
    }

    .experience_youtube img {
        width: 320px;
    }
    
    .experience_title a {
        font-size: 16px;
    }

}