@import "style";

.home {
    width: 100%;
    min-width: 1024px;
    height: 700px;
    background-color: #1c7db2;
    background-image: url(../img/home.svg);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
}

.home_in {
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
    @include flex(row ,flex-start ,space-between);
}

.home_left {
    width: 420px;
    height: 190px;
    overflow: hidden;
    margin-top: 90px;
    margin-left: 120px;
}

.home_left h1 {
    width: 350px;
    font-size: 56px;
    line-height: 80px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    border-bottom: 3px solid white;
    text-shadow: 2px 2px 5px #000277;
    animation: textshow 2s ease;
}

.home_left p {
    font-size: 28px;
    line-height: 46px;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 5px #313131;
    animation: textshow 2s ease;
}

@keyframes textshow {
    0% {
        margin-top: 190px;
    }
    100% {
        margin-top: 0px;
    }
}

.home_right {
    width: 585px;
    height: 590px;
    background: url(../img/computer.svg);
    @include flex(row ,center ,center);
}

.rocket {
    width: 220px;
    height: 500px;
    margin-top: 45px;
    background-image: url(../img/rocket.svg);
    animation: fly 1.5s infinite ease-in-out;
}

@keyframes fly {
    1% {
        margin-top: 45px;
    }
    50% {
        margin-top: 65px;
    }
    99% {
        margin-top: 45px;
    }   
}

/*-------------------------------------------------------*/

.opportunity {
    height: 400px;
    @include flex(row, center, space-around);
}

.opportunity img {
    width: 450px;
}

.text {
    width: 530px;
    height: 400px;
    padding: 0px 50px;
    padding-bottom: 30px;
    text-align: center;
    @include flex(column ,center ,space-around);
}

.text span {
    line-height: 24px;
    text-align: justify;
    text-justify: inter-ideograph;
}

.spirut {
    width: 520px;
    @include flex(row ,center ,space-around);
}

.spirut img {
    width: 120px;
}

/*-------------------------------------------------------*/

.operation {
    height: 480px;
    @include flex(column ,center ,flex-start);
}

.operation img {
    width: 900px;
}

/*-------------------------------------------------------*/

.course {
    width: 100%;
    min-width: 1024px;
    padding-top: 20px;
    height: 430px;
    background-image: url(../img/course.svg);
    background-size: cover;
    background-position: center;
    @include flex(column ,center ,flex-start);
}

.course_in {
    width: 1000px;
    height: 320px;
    margin-top: 20px;
    background-color: white;
    text-align: center;
}

.course_top {
    padding: 0 80px;
    height: 200px;
    margin-top: 40px;
    @include flex(row ,center ,space-around);
}

.course_top img {
    width: 110px;
}

.course_content {
    width: 150px;
    height: 180px;
    @include flex(column ,center ,space-around);
}

.course_content a {
    font-weight: bold;
    font-size: 20px;
}

.course_in button {
    width: 150px;
    height: 40px;
    margin-top: 15px;
    border-radius: 50px;
    border: 0;
    box-shadow: 1px 1px 5px #666666;
    background-color: #f6fcff;
    transition: background-color 0.4s;
    outline: none;
}

.course_in button:hover {
    background-color: #1c7db2;
}

.course_in button:hover > a {
    color: white;
}

.course_in button a {
    color: #000000;
    font-weight: bold;
}

/*-------------------------------------------------------*/

.report {
    margin-top: 50px;
    height: 780px;
    @include flex(column ,center ,flex-start);
}

.report_in {
    width: 750px;
    @include flex(column ,center ,space-between);
}

.report_top {
    margin-top: 40px;
    width: 750px;
    flex-wrap: wrap;
    @include flex(row ,center ,space-between);
}

.report_in h4>a {
    width: 40px;
    color: #666666;
    font-weight: bold;
}

.report_in h4>a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.report_box {
    width: 350px;
    height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}

.report_1 {
    background-image: url(../img/report_1.jpg);
}

.report_2 {
    background-image: url(../img/report_2.jpg);
}

.report_3 {
    background-image: url(../img/report_3.jpg);
}

.report_4 {
    background-image: url(../img/report_4.jpg);
}


.report_content {
    width: 350px;
    height: 300px;
    margin-top: 240px;
    cursor: pointer;
    background-color: #00000080;
    @include flex(column ,center ,space-around);
}

.report_content h3 {
    color: white;
}

.report_text {
    width: 280px;
    text-align: justify;
    text-justify: inter-ideograph; 
}

.report_content span {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.report_text a {
    color: white;
    font-size: 14px;
}

.report_box:hover >.report_content {
    animation: up 0.5s ease;
    transform: translateY(-240px);
}

@keyframes up {
    0% {transform: translateY(0px)}
    100% {transform: translateY(-240px)}
}

/*-------------------------------------------------------*/

.coach {
    height: 450px;
    padding-top: 30px;
    background-color: #f3f3f3;
    @include flex(column ,center ,flex-start);
}

.coach_in {
    width: 1024px;
    height: 380px;
    @include flex(row ,center ,space-between);
}

.coach_left {
    width: 580px;
    height: 340px;
    @include flex(column ,center ,flex-start);
}

.slideshow-container {
    margin-top: 50px;
    width: 500px;
    @include flex(row ,center ,space-around);
}
  
.mySlides, .teaching {
    display: none;
} 

.prev, .next {
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -20px;
    padding: 16px;
    color: #aaaaaa;
    font-weight: bold;
    font-size: 30px;
    transition: 0.6s ease;
    border-radius: 5px;
    user-select: none;
}
  
.next {
    right: 0;
    border-radius: 5px;
}
  
.prev:hover, .next:hover {
    color: #1c7db2;
}
  
.dot_in {
    margin-top: 5px;
    text-align: center;
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin-left: 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
    background-color:#1c7db2;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.coach_teaching {
    width: 500px;
    text-align: center;
}

/*-------------------------------------------------------*/

.teacher {
    height: 450px;
    margin-bottom: 50px;
    @include flex(column ,center ,space-around);
}

.teacher_in {
    width: 1000px;
    height: 400px;
    @include flex(row ,center ,center);
}

.teacher_content {
    width: 180px;
    height: 300px;
    background-color: #1c7db2;
}

.teacher_in img {
    width: 200px;
}

/*-------------介於 480px 與 960px 之間------------------*/

@media screen and (min-width: 480px) and (max-width: 960px) {
    .wrapper {
        min-width: 600px;
    }

    .home {
        min-width: 600px;
    }
    .home_in {
        min-width: 580px;
    }

    .home_left {
        width: 450px;
        margin-top: 100px;
        margin-left: 30px;
    }

    .home_left h1 {
        width: 260px;
        font-size: 36px;
        line-height: 48px;
    }

    .home_left p {
        font-size: 24px;
        line-height: 34px;
    }

    .home_right {
        width: 480px;
        height: 400px;
        margin-top: 150px;
        @include flex(row ,flex-start ,center);
    }
    
    .rocket {
        width: 180px;
        height: 400px;
        margin-top: -30px;
        background-image: url(../img/rocket.svg);
        animation: fly 1.5s infinite ease-in-out;
    }
    
    @keyframes fly {
        1% {
            margin-top: -30px;
        }
        50% {
            margin-top: -15px;
        }
        99% {
            margin-top: -30px;
        }   
    }

    .opportunity {
        height: 720px;
        @include flex(column ,center ,space-between);
    }

    .operation {
        height: 340px;
        margin-top: 40px;
    }
    
    .operation img {
        width: 580px;
    }

    .course {
        min-width: 600px;
    }
    
    .course_in {
        width: 560px;
        height: 320px;
    }
    
    .course_top {
        width: 560px;
        height: 200px;
    }

    .report_in {
        width: 580px;
    }

    .report_top {
        width: 580px;
    }
    
    .report_box {
        width: 280px;
        margin-bottom: 20px;
    }

    .report_content {
        width: 280px;
        height: 300px;
        margin-top: 240px;
        cursor: pointer;
        background-color: #00000080;
        @include flex(column ,center ,space-around);
    }

    .report_text {
        width: 250px;
    }

    .report_content h3 {
        font-size: 16px;
    }

    .report_1, .report_2, .report_3, .report_4, .report_5, .report_6 {
        background-position: center;
    }

    .coach {
        height: 700px;
    }

    .coach_in {
        width: 600px;
        height: 600px;
        @include flex(column ,center ,space-between);
    }

    .coach_left {
        height: 600px;
    }

    .teacher {
        height: 700px;
        margin-bottom: 30px;
    }

    .teacher_in {
        width: 600px;
        height: 700px;
        margin-top: 30px;
        flex-wrap: wrap;
    }

    .teacher_in img {
        width: 190px;
    }
    
}

/*-------------未滿 480px，即 479px 以下------------------*/

@media screen and (max-width: 479px) {
    .wrapper {
        min-width: 350px;
    }

    .home {
        padding-top: 60px;
        min-width: 350px;
        height: 700px;
        margin-bottom: 10px;
    }

    .home_in {
        min-width: 320px;
        @include flex(column, center, center);
    }

    .home_left {
        width: 300px;
        height: 130px;
        margin-top: 80px;
        margin-left: 0px;
    }

    .home_left h1 {
        width: 180px;
        font-size: 30px;
        line-height: 40px;
    }

    .home_left p {
        font-size: 20px;
        line-height: 34px;
    }

    @keyframes textshow {
        0% {
            margin-top: 130px;
        }
        100% {
            margin-top: 0px;
        }
    }

    .home_right {
        width: 280px;
        height: 300px;
        margin-left: 80px;
        margin-top: 20px;
        @include flex(row ,flex-start ,center);
    }

    .rocket {
        width: 138px;
        height: 280px;
        margin-left: 20px;
        margin-top: 5px;
    }

    @keyframes fly {
        1% {
            margin-top: 5px;
        }
        50% {
            margin-top: 15px;
        }
        99% {
            margin-top: 5px;
        }   
    }

    .opportunity {
        height: 630px;
        @include flex(column ,center ,space-between);
    }
    
    .opportunity img {
        width: 320px;
    }
    
    .text {
        width: 320px;
        height: 400px;
        padding: 0px 10px;
        padding-bottom: 10px;
        @include flex(column ,center ,space-around);
    }
    
    .spirut {
        width: 320px;
        flex-wrap: wrap;
        @include flex(row ,center ,space-around);
    }
    
    .spirut img {
        width: 80px;
    }

    .operation {
        height: 200px;
        margin-top: 20px;
    }
    
    .operation img {
        width: 350px;
    }

    .course {
        width: 100%;
        min-width: 350px;
        padding-top: 20px;
        height: 340px;
    }
    
    .course_in {
        width: 340px;
        height: 240px;
        margin-top: 20px;
        background-color: white;
        text-align: center;
    }
    
    .course_top {
        padding: 0 10px;
        width: 340px;
        height: 120px;
        margin-top: 30px;
        @include flex(row, center ,space-around);
    }
    
    .course_top img {
        width: 60px;
    }
    
    .course_content {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
    
    .course_content a {
        font-weight: bold;
        font-size: 16px;
    }
    
    .report {
        margin-top: 30px;
        height: 1430px;
        @include flex(column ,center ,flex-start);
    }
    
    .report_in {
        width: 350px;
    }

    .report_top {
        margin-top: 20px;
        width: 350px;
        flex-wrap: wrap;
        @include flex(row ,center ,center);
    }
    
    .report_box {
        width: 320px;
        height: 300px;
        margin-bottom: 30px;
    }
    
    .report_content {
        width: 320px;
        height: 300px;
    }

    .report_1, .report_2, .report_3, .report_4, .report_5, .report_6 {
        background-position: center;
    }

    .coach {
        height: 570px;
        padding-top: 20px;
        background-color: #f3f3f3;
        @include flex(column ,center ,flex-start);
    }
    
    .coach_in {
        width: 340px;
        height: 480px;
        @include flex(column ,center ,space-between);
    }
    
    .coach_left {
        width: 240px;
        height: 240px;
        @include flex(column ,center ,flex-start);
    }
    
    .slideshow-container {
        margin-top: 50px;
        width: 380px;
        @include flex(row ,center ,space-around);
    }

    .mySlides img {
        width: 280px;
    }
    
    .coach_teaching img {
        width: 320px;
    }

    .slideshow-container {
        margin-top: 30px;
        width: 350px;
    }

    .teacher {
        height: 1700px;
        margin-bottom: 10px;
        @include flex(column ,center ,space-around);
    }
    
    .teacher_in {
        width: 320px;
        height: 1600px;
        flex-wrap: wrap;
        @include flex(row ,center ,space-around);
    }
    
    .teacher_content {
        width: 180px;
        height: 300px;
        background-color: #1c7db2;
    }
    
}