@import "style";

.member, .member_coach {
    width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    height: 570px;
    @include flex(column ,center ,flex-start);
}

.member_coach {
    height: 480px;
}

.member_in {
    @include flex(row ,flex-start ,space-between);
}

.member_content {
    margin-top: 50px;
    width: 255px;
    height: 450px;
    @include flex(column ,center ,flex-start);
}

.coach_content {
    margin-top: 50px;
    width: 255px;
    height: 450px;
    @include flex(column ,center ,flex-start);
}

.member_text {
    @include flex(column ,center ,flex-start);
}

.member_text h3 {
    line-height: 50px;
}

.member_text h4 {
    line-height: 40px;
}

.member_text span {
    line-height: 24px;
}

/*-------------介於 480px 與 960px 之間------------------*/

@media screen and (min-width: 480px) and (max-width: 960px) {
    .member, .member_coach {
        width: 600px;
        margin-top: 30px;
        height: 1100px;
        flex-wrap: wrap;
        @include flex(row ,center ,center);
    }
    
    .member_coach {
        height: 900px;
    }
    
    .member_in {
        flex-wrap: wrap;
        @include flex(row  ,center ,space-around);
    }
    
    .member_content {
        margin-top: 50px;
        width: 300px;
        height: 480px;
        flex-wrap: wrap;
    }

    .coach_content {
        width: 300px;
        height: 350px;
        margin-bottom: 20px;
    }
    
    .member_text {
        @include flex(column ,center ,flex-start);
    }

}

/*-------------未滿 480px，即 479px 以下------------------*/

@media screen and (max-width: 479px) { 
    .member, .member_coach {
        width: 350px;
        margin-top: 30px;
        height: 2100px;
        @include flex(column ,center ,flex-start);
    }
    
    .member_coach {
        height: 1650px;
    }
    
    .member_in {
        @include flex(column ,flex-start ,space-between);
    }
    
    .member_content {
        margin-top: 50px;
        width: 300px;
        @include flex(column ,center ,flex-start);
    }

    .coach_content {
        margin-top: 50px;
        width: 300px;
        height: 350px;
    }
    
    .member_text {
        @include flex(column ,center ,flex-start);
    }

}