@import "style";

.news {
    width: 1080px;
    height: 850px;
    padding-bottom: 50px;
    @include flex(column ,center ,center);
}

.news_title {
    width: 100%;
    height: 50px;
    padding-left: 30px;
    background-color: #1c7db2;
    box-shadow: 0 0 5px #666666;
    @include flex(row ,center ,flex-start);
}

.news_title a {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.news_in {
    display: none;
    width: 1080px;
    height: 780px;
    padding: 20px 0;
    background-color: white;
    box-shadow: 0 0 5px #666666;
    @include flex(column ,center ,space-around);
}

.news_in table {
    border-collapse: collapse;
    width: 95%;
    height: 650px;
}

.news_in table td {
    border-bottom: 1px solid #666666;
}

.news_in table td:nth-child(2) {
    text-align: center;
}

.news_in a {
    font-size: 16px;
    line-height: 32px;
    width: 70px;
    margin: 0 auto;
}

.news_in a:hover {
    font-weight: bold;
    color: #1c7db2;
    cursor: pointer;
}

.news_in a.time {
    color: #666666;
}

/*-------------介於 480px 與 960px 之間------------------*/

@media screen and (min-width: 480px) and (max-width: 960px) {
    .news {
        margin-top: 30px;
        width: 80%;
        height: 1100px;
        min-width: 560px;
    }
    
    .news_title {
        height: 40px;
        padding-left: 20px;
    }
    
    .news_title a {
        font-size: 18px;
    }
    
    .news_in {
        width: 100%;
        min-width: 560px;
        height: 980px;
        padding: 10px 0;
    }

    .news_in table {
        height: 900px;
    }

    .news_in table td:nth-child(1) {
        padding-right: 10px;
    }

    .news_in table td:nth-child(2) {
        width: 50px;
    }

    .news_in a {
        font-size: 14px;
        line-height: 32px;
    }

    .news_in h5 {
        font-size: 12px;
    }

}

/*-------------未滿 480px，即 479px 以下------------------*/

@media screen and (max-width: 479px) {
    .news {
        margin-top: 30px;
        width: 320px;
        height: 1600px;
    }
    
    .news_title {
        height: 40px;
        padding-left: 20px;
    }
    
    .news_title a {
        font-size: 18px;
    }

    .news_in table {
        height: 1450px;
    }
    
    .news_in {
        width: 320px;
        height: 1550px;
        padding: 10px 5px;
    }

    .news_in table td:nth-child(1) {
        padding-right: 10px;
    }

    .news_in table td:nth-child(2) {
        width: 50px;
    }

    .news_in a {
        font-size: 14px;
        line-height: 32px;
    }

    .news_in h5 {
        font-size: 12px;
    }

    .news_content {
        width: 280px;
    }
}